.heading {
    font-size: medium;
}

.navbar_mail {
    height: 20px;
}

.main-header input[type="checkbox"],
.main-header .hamburger-lines {
    display: none;
}

@media screen and (max-width:992px) {
    .main-header .header-menu {
        padding-top: 0px;
        background: linear-gradient(45deg, black, transparent);
        backdrop-filter: blur(15px);
        height: 100%;
        width: calc(100% - 50%);
        position: fixed;
        transform: translate(150%);
        display: flex;
        flex-direction: column;
        right: 0%;
        padding-right: 40px;
        transition: transform 0.5s ease-in-out;
        overflow: scroll;
        top: -30px;
    }

    .main-header .header-menu li {
        font-size: 1rem;
        font-weight: 500;
    }


    .main-header input[type="checkbox"],
    .main-header .hamburger-lines {
        display: block;
    }

    .main-header input[type="checkbox"] {
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 46px;
        right: 19px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .main-header .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: var(--primaryColor--);
    }

    .main-header .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .main-header .hamburger-lines .line2 {
        transition: transform 0.1s ease-in-out;
    }

    .main-header .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .main-header .header-menu {
        padding-top: 0px;
        background: linear-gradient(45deg, black, transparent);
        backdrop-filter: blur(15px);
        height: 100%;
        width: calc(100% - 50%);
        position: fixed;
        transform: translate(150%);
        display: flex;
        flex-direction: column;
        right: 0%;
        padding-right: 40px;
        transition: transform 0.5s ease-in-out;
        overflow: scroll;
        top: -30px;
    }

    .main-header .header-menu li {
        font-size: 1rem;
        font-weight: 500;
    }

    .main-header input[type="checkbox"]:checked~.header-menu {
        transform: translateX(0);
    }

    .main-header input[type="checkbox"]:checked~.hamburger-lines .line1 {
        transform: rotate(45deg);
        background-color: var(--primaryColor--);
    }

    .main-header input[type="checkbox"]:checked~.hamburger-lines .line2 {
        transform: scaleY(0);
    }

    .main-header input[type="checkbox"]:checked~.hamburger-lines .line3 {
        transform: rotate(-45deg);
        background-color: var(--primaryColor--);
    }

    .main-header .hamburger-lines {
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 46px;
        right: 10px;

        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .main-header .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: var(--primaryColor--);
    }

    .main-header .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .main-header .hamburger-lines .line2 {
        transition: transform 0.1s ease-in-out;
    }

    .main-header .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }


}

@media screen and (max-width: 768px) {
    .heading {
        font-size: small;
    }
}

@media screen and (max-width: 480px) {
    .heading {
        font-size: smaller;
    }

    .navbar1_text {
        padding: 1px 0px;
    }
}

@media screen and (max-width: 380px) {
    .heading {
        font-size: x-small;
    }
}