body{
    margin: 0;
    padding: 0;
    font-family: ui-monospace,sans-serif!important;
    user-select: none;
    background-color: #f8f3f370 !important;
}

:root {
    --primaryColor-- :#480d2f;
    --white--:#ffffff;
    --black--:#000000;
}
.topheading{
    font-size: medium;
}

.heading {
    font-size: 30px;
    font-weight: 600;
    color: var(--primaryColor--);
    text-transform: uppercase;
}
.text {
    font-size: 18px;
    font-weight: 500;
    color: var(--black--);
    line-height: 30px;
    text-align: justify;
}
.subHeading {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 20px;
    color: var(--primaryColor--);
}